@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply transition-colors duration-300;
  }

  body {
    @apply bg-white text-black font-body antialiased transition-colors duration-300;
  }

  html.dark body {
    @apply bg-dark-bg text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}

/* Leaflet z-index fix */
.leaflet-pane { z-index: 1; }
.leaflet-top, .leaflet-bottom { z-index: 2; }
.leaflet-control { z-index: 2; }
