@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-white font-body antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}

/* Leaflet z-index fix */
.leaflet-pane { z-index: 1; }
.leaflet-top, .leaflet-bottom { z-index: 2; }
.leaflet-control { z-index: 2; }
